{% extends "base.html" %}

{% block "content" %}
    <div class="row">
    {% for version in latest %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <img src="static/images/holding.jpg" style="width:100%">
                <h2><a href="{% url 'post_detail' slug=version.blog.slug %}">{{ version.blog.title }}</a></h2>
                <h3>{{version.blog.author.author_name }}</h3>
                {{ version.published }}
            </div>
        {% if forloop.counter|divisibleby:4 %}
            <div class="clearfix visible-lg-block"></div>
        {% endif %}
        {% if forloop.counter|divisibleby:3 %}
            <div class="clearfix visible-md-block"></div>
        {% endif %}
        {% if forloop.counter|divisibleby:2 %}
            <div class="clearfix visible-sm-block"></div>
        {% endif %}
        <div class="clearfix visible-xs-block"></div>
    {% endfor %}
    </div>
{% endblock "content" %}
