{% extends "base.html" %}

{% block "content" %}
    <h2>{{ post.title }}</h2>
    <h3>{{ public_content.published }} - {{ post.author_name}}</h3>
    {{ public_content.copy|safe }}
    {{ version.copy|safe }}<br>

    <h3>Other Versions</h3>
    {% if user_authenticated and user_admin %}
    {% for version in private_content %}
        {{ version.published }}<br>
        {{ version.copy|safe }}<br>
        {{ version.public }}<br>
        {{ version.created }}<br>
        {{ version.modified }}<br>
        {% if not version.public %}
            <form name="frm_publish_version" action="" method="post">
                {% csrf_token %}
                <input type="hidden" value="{{ version.id }}" name="version_id">
                <input type="submit" value="Publish" >
            </form>
        {% endif %}
        <hr>
    {% endfor %}
    {% endif %}
{% endblock "content" %}